---
---

.highlighter-rouge {
    margin-top: -20px;
}

.highlighter-rouge.language-bash {

}

pre.highlight > code {
    background: none;
    color: inherit;

    .cm {
        background: #118D4C;
        position: relative;
        height: 20px;
        color: #fff;
        z-index: 1;
        margin-bottom: -1px;
        display: inline-block;
        left: -14px;

        &:before, &:after {
            background: #118D4C;
            content: "  ";
            position: absolute;
            z-index: 2;
        }

        &:after {
            right: 0;
        }
    }
}
