---
---

@import "{{ site.theme }}";

$green: #118D4C;

body {
    background-color: #444;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 0;
}

a {
    color: $green;

    &:hover {
        text-decoration: underline;
    }

    &:not(.button) strong {
        color: $green;
    }
}

h2, h3 {
    &:not(:first-child) {
        margin-top: 2em;
    }
}

h1 {
    &:not(:first-child) {
        margin-top: 48px;
    }
}

header {
    background: $green;
    padding-bottom: 20px;
    padding-top: 10px;

    a {
        color: inherit;
        text-shadow: 0 2px 0 #225038;
    }
}

div.wrapper {
    @media screen and (min-width: 1060px) {
        width: 800px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
        width: 900px;
        left: 100px;
    }
}

section {
    max-width: none;
    box-sizing: border-box;
    width: 100%;
    @media screen and (min-width: 760px) {
        width: 90%;
    }
    @media screen and (min-width: 1060px) {
        width: 100%;
        margin-top: 105px;
        margin-bottom: 0;
        border-radius: 0;
    }

    @media screen and (max-width: 480px) {
        margin-top: 0;
    }
}

#banner {
    background: #118D4C;
    border: none;
    box-shadow: none;
    padding: 5px 10px;
    box-sizing: border-box;
    text-align: right;

    @media screen and (min-width: 1024px) {
        padding-top: 15px;
        right: 0;
        top: 0;
        left: initial;
        margin: 0;
        width: 390px;
    }

    a {
        color: #333;
    }

    .fork {
        $w: 21px;
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        padding-left: 12px + $w + 5px;
        margin-left: 0;
        margin-top: 0;

        background: #eee;
        border-color: #ddd;
        &:hover {
            background: #f8f8f8;
            border-color: #ddd;
        }

        #logo {
            position: absolute;
            width: $w;
            height: $w;
            left: 10px;
            margin-top: -1px;
            right: initial;
            display: inline-block;
            vertical-align: middle;
            background-size: contain;
            opacity: 0.8;
        }

        &:hover {
            text-decoration: none;

            .logo {
                opacity: 0.9;
            }
        }
    }

    code {
        color: #eee;
        background: #222;
        padding: 6px 13px;
        display: inline-block;
        margin: 0;

        @media screen and (min-width: 1024px) {
            margin-top: 5px;
            float: none;
        }
    }
}

nav {
    top: 105px;
    bottom: 0;
    margin-left: -590px;
    padding-top: 25px;
    padding-right: 10px;
    overflow-y: auto;
    text-align: left;

    background: #ddd;

    @media screen and (max-width: 1199px) {
        display: none;
    }

    ul.toc {
        //margin-bottom: 0;
    }

    ul {
        list-style: none;
        padding-left: 15px;
        a {
            //color: #eee;

            &:hover {
                color: $green;
            }
        }

        li:before {
            content: none;
        }

        li.tag-h1 a {
            //color: #fff;
        }

        li.external {
            > a:before {
                content: "";
                background: url(../images/doc.svg);
                width: 8px;
                height: 10px;
                background-size: contain;
                display: inline-block;
                margin-right: 5px;
            }
        }

        .tag-h1 {
            padding-left: 0;

            a:hover {
                color: $green;
            }
        }
        .tag-h2 {
            padding-left: 20px;
        }
        .tag-h3 {
            padding-left: 40px;
        }
    }
}

footer {
    position: static;
    display: block;
    width: auto;
    color: #bbb;
    margin-left: 0;
    text-align: center;
    > p {
        margin: 0;
    }
}

pre, code {
    font-family: monospace;
    line-height: 19px;
}

pre.highlight > code {
    background: none;
    color: inherit;
}

code {
    background: #ddd;
    color: #222;
    text-shadow: none;
}

ul {
    list-style: none;
    padding: 0;

    > li {
        padding-left: 20px;
    }

    > li:before {
        content: ">";
        margin-left: -18px;
        margin-right : 0;
        display: inline-block;
        width: 18px;
        position: absolute;
        //color: $green;
    }
}

.task-list-item {
    padding-left: 15px;
    &:before {
        content: '';
    }
}
.task-list-item-checkbox {
    margin-right: 5px;
    vertical-align: baseline;
    position: relative;
    top: 1px;
}

blockquote {
    border-left-color: $green;
}
//----------------------------------------------------------------------------------------------------------------------

// Helpers

.text-right {
    text-align: right;
}
